
:root{
    --pri:#537D5D;
    --sec:#73946B;
    --tri1:#9EBC8A;
    --tri2:#ebeba4;
}
@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: regular;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: regular-italic;
    src: url(./AeonikTRIAL-RegularItalic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:regular;
    color: rgb(19, 18, 18);
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--tri2);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--pri);

}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
   justify-content: space-evenly;
    gap: 30px;
}
.elem{
    height: 360px;
    width: 250px;
    background: linear-gradient(
    160deg,
    var(--sec) 0%,
    rgba(115,148,107,0.9) 35%,
    var(--tri2) 100%
);

    border-radius: 20px;
   
    padding: 16px;
    position: relative;
    overflow: hidden;

    box-shadow: 0 12px 30px rgba(0,0,0,0.8);
    transition: all 0.35s ease;
    cursor: pointer;
}

.elem img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
    margin-top: 12px;
}

.elem h2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #1c1c1c;
}

.elem:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.18);
}

.elem:active{
    scale: 0.97;
}