
:root{
    --pri:#191C24;
    --sec:#c72878;
    --tri1:#4645aa;
    --tri2:#F3797E;
    --red: rgba(223, 43, 43, 0.84);
}
@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: regular;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: regular-italic;
    src: url(./AeonikTRIAL-RegularItalic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:regular;
    
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--sec);

}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 70px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
   
    gap: 20px;
    position: absolute;
}
.elem{
    background-color: var(--pri);
    height: 400px;
    width: 260px;
    position: relative;
    border-radius: 20px;
    overflow:hidden;
    transition: all ease 0.9s;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(166, 163, 163, 0.2);
    color: black;

}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 2%;
    right: 3%;
    font-size: 20px;
    font-weight: 100;
}
.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
    color: var(--sec);
    padding: 40px;
    font-size: 12px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    padding: 11;
    right: 5%;
    background-color: rgba(223, 43, 43, 0.84);
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    width: 44px;
    height: 42px;
    color: white;
    border: none;
}
.back:active{
    
    scale: 0.95;
}

.todo-list-fullpage{
   display: block;
}
.todo-list-fullpage h1{
    font-size: 35px;
}
.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--tri1);
    border-radius: 15px;

}
.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--tri1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow:auto;
    
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.todo-list-fullpage .todo-container form input{
    padding: 15px 25px;
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
    background-color: var(--pri);
    border: none;
    outline: none;
    color: #f2eaee;
    margin-bottom: 20px;
}

.todo-list-fullpage .todo-container form textarea{
    padding: 15px 25px;
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
    background-color: var(--pri);
    color: #f2eaee;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container form button{
        padding: 12px 22px;
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgba(223, 43, 43, 0.84);
    border: none;
    outline: none;
    font-weight: 700;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container form button{
  transition: transform 0.2s ease;
}

.todo-list-fullpage .todo-container form button:active{
  transform: scale(0.95);
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
    background-color: #f2eaee;
     padding: 10px 15px;
   border-radius: 5px;
   margin-bottom: 15px;
   
}
.task h5{
    color: var(--pri);
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.task h5 span{
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 4px 6px;
    border-radius:50px;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    padding: 12px 22px;
    color: var(--pri);
    background-color:rgb(7, 192, 7);
    font-size: 20x;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.mark-imp{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  margin:0;          /* remove left space */
  padding:10px 0;
  color:#000;
  font:16px Arial;
}



#check{
  accent-color:#FF6600;
  transform:scale(1.3);
  margin:0 6px 0 0;  /* small gap before text */
}


