
:root{
    --pri:#191C24;
    --sec:#c72878;
    --tri1:#4645aa;
    --tri2:#F3797E;
}
@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: regular;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: regular-italic;
    src: url(./AeonikTRIAL-RegularItalic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:regular;
    
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--sec);

}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 70px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
   
    gap: 20px;
    position: absolute;
}
.elem{
    background-color: var(--pri);
    height: 400px;
    width: 260px;
    position: relative;
    border-radius: 20px;
    overflow:hidden;
    transition: all ease 0.9s;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(166, 163, 163, 0.2);
    color: black;

}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 2%;
    right: 3%;
    font-size: 20px;
    font-weight: 100;
}
.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
    color: var(--sec);
    padding: 40px;
    font-size: 12px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    padding: 11;
    right: 5%;
    background-color: rgba(223, 43, 43, 0.84);
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    width: 44px;
    height: 42px;
    color: white;
    border: none;
}
.back:active{
    
    scale: 0.95;
}

.todo-list-fullpage{
   display: block;
}
.todo-list-fullpage h1{
    font-size: 35px;
}
.todo-list-fullpage .todo-container{
    height: 70%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--tri1);
        border-radius: 15px;

}
.todo-list-fullpage .todo-container .allTask{
     width: 65%;
    height: 100%;
    background-color: var(--tri1);
    border-radius: 15px;

}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.todo-list-fullpage .todo-container form input{
    padding: 15px 25px;
    width: 100%;
    font-size: 25px;

    border-radius: 5px;
    background-color: var(--pri);
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container form textarea{
    padding: 15px 25px;
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
    background-color: var(--pri);
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container form button{
    padding: 15px 25px;
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
    background-color: var(--sec);
    border: none;
    outline: none;
    font-weight: 700;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container form button{
  transition: transform 0.2s ease;
}

.todo-list-fullpage .todo-container form button:active{
  transform: scale(0.95);
}
