
:root{
    --pri:#2F3E34;
    --sec:#3A5A40;
    --tri1:#d7d7b9;
    --tri2:#9CAF88;
}
@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: regular;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: regular-italic;
    src: url(./AeonikTRIAL-RegularItalic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:regular;
    
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--sec);

}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 70px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
   
    gap: 20px;
    position: absolute;
}
.elem{
    background-color: #73946B;
    height: 400px;
    width: 260px;
    position: relative;
    border-radius: 20px;
    overflow:hidden;
    transition: all ease 0.9s;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(166, 163, 163, 0.2);

}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 2%;
    right: 3%;
    font-size: 20px;
    font-weight: 100;
}
.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
    color: var(--tri1);
    padding: 40px;
    font-size: 60px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    padding: 11;
    right: 5%;
    background-color: rgba(255, 0, 0, 0.84);
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    width: 44px;
    height: 42px;
    color: white;
    border: none;
}
.back:active{
    
    scale: 0.95;
}